@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fix-height {
    min-height: calc(100vh - 76px);
}

.overflow-height {
    height: calc(100vh - 76px);
}

button:disabled {
    cursor: not-allowed;
    background-color: gray;
}